<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- LOAD STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="row top-menu">
      <div class="col-md-6">
        <a href="{{url_for('get_restaurants')}}">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
        </a>
      </div>
      <div class="col-md-6 text-right">
        {% if 'username' not in session %}
        <a href="{{url_for('get_login')}}">Click Here to Login </a>
        {% else %}
        <a href="{{url_for('disconnect')}}">Logout </a>
        {% endif %}
      </div>
    </div>
      {% block content %}
      {% endblock content %}
  </body>
</html>