{% extends "base.html" %}

  {% block title %}
    {{restaurant.name}} Menu - Edit Item
  {% endblock title %}

  {% block content %}
  <h1>{{restaurant.name}} Menu - Edit Item</h1>
  <form action="{{url_for('EditMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method="post">
    <p>Item Name:</p>
    <input type="text" size="30" name="name" placeholder="{{item.name}}">
    <input type="submit" value="Create">
    <a href="{{url_for('GetMenu', restaurant_id=restaurant.id)}}">Cancel</a>
  </form>
  {% endblock content %}
