<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>{{restaurant.name}} Menu</title>
  </head>
  <body>
    <h1>{{restaurant.name}}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul class="flashes">
        {% for message in messages %}
          <li>
            <strong>{{message}}</strong>
          </li>
        {% endfor %}
        </ul>

      {% endif %}
    {% endwith %}
    <br>
    <a href="{{url_for('NewMenuItem', restaurant_id=restaurant.id)}}">New Menu Item</a>
    <br>
    {% if items %}
      {% for item in items %}
        {{item.name}}
        <br>
        {{item.description}}
        <br>
        {{item.price}}
        <br>
        <a href="{{url_for('EditMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}">Edit</a>
        <br>
        <a href="{{url_for('DeleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}">Delete</a>
        <br>
        <br>
        <br>
      {% endfor %}
    {% else %}
      There are no menu items why not create one!
    {% endif %}
  </body>
</html>
